@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500&display=swap');
body {
    font-family: 'Baloo Tammudu 2', cursive;
}

h1 {
    font-size: 20px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.title-div {
    
    background-color: red;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.tab-list {
   height: 0;
   overflow: hidden;
}

.slide-down {
    height: 500px;
    display: block;
}

ul {
    list-style-type: none;
}

#second-list {
    display: none;
}

.btn-toggle {
    border: none;
    outline:none;
    background: transparent;
    font-size: 20px;
    transform: rotate(90deg);
    padding: 0;
}

